
.input {
    padding: 5px 10px;
    width: 200px;
    margin-right: 10px;
    font-size: 18px;
}

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color:rgb(40, 67, 91);
    padding: 5px 0;
}